@import "config";
@import "menu";

* {
  box-sizing: border-box;
  #scroll {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    height: 300px;
  }
  #scroll::-webkit-scrollbar {
    width: 10px;
    background: transparent;
  }
  #scroll::-webkit-scrollbar-thumb {
    background: darken($primary-color, 0);
    border-radius: 20px;
  }
  #scroll::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 20px;
  }
}

body {
  @include background;
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

//Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.title {
    font-size: 6rem;
  }
  &.subtitle {
    margin-bottom: 2rem;
    background: rgba(lighten($primary-color, 2), 0.5);
  }
}

a {
  color: #F8F9F9;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  //Sticky footer
  min-height: calc(100vh - 60px);

  .icons {
    margin-top: 1rem;
    a {
      padding: 0.4rem;
      &:hover {
        color: $secondary-color;
        @include easeOut;
      }
    }
  }

  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}
//jobs 
.about-info{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  
  .bio-image{
    border-radius: 50%;
    border: solid 2px $secondary-color;
    margin-top: 1rem;
  }
  .bio{
    width: 60%;
    margin-left: 1rem;
    align-self: center; 
    font-weight: 400;
  }
}


.container{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 2rem;  

  .item{
    width: 30%;
    height: 30%;
    margin-top: 1rem;
    border-bottom: solid 2px red;
  }
}


// Projects
.projects {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;  

  .item{
    width: 33%;
    height: 33%;
    align-self: flex-start;
    margin-top: 1rem
  }
  img {
    width: 100%;
    border: solid 3px rgba(lighten($primary-color, 2), 0.5);

    &:hover {
      opacity: 0.5;
      border-color: $secondary-color;
      @include easeOut;
    }
  }
  }

//Contact Page

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;

  div {
    font-size: 2rem;
    border: 2px #E3E3E3 solid;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    @include easeOut;

    &:hover {
      padding: 0.5rem 1.5rem;
      background: $secondary-color;
      color: set-text-color($secondary-color);
      span {
        color: set-text-color($secondary-color);
      }
    }
  }
}

// Button styles
.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;

  &:hover {
    background: $secondary-color;
    color: set-text-color($secondary-color);
  }
}

.btn-dark {
  @extend .btn;
  background: darken($primary-color, 40);
  color: #F8F9F9;
}
.btn-light {
  @extend .btn;
  background: lighten($primary-color, 40);
  color: #F8F9F9;
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 60px;
}

@import "mobile";
