<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Caeli</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
      integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/main.css" />
  </head>
  <body id="scroll">
    <header>
      <div class="menu-btn">
        <div class="btn-line"></div>
        <div class="btn-line"></div>
        <div class="btn-line"></div>
      </div>

      <nav class="menu">
        <div class="menu-branding">
          <div class="portrait"></div>
        </div>

        <ul class="menu-nav">
          <li class="nav-item">
            <a href="index.html" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="work.html" class="nav-link">My Work</a>
          </li>
        </ul>
      </nav>
    </header>
    <div class="project-content">
        <h1 class="title" id="caeli-title">Caeli</h1>
              <div class="text">
                  <p>In association with the subject IN1060, user oriented design we were given a open project case, 
                      my team and I choose the case about air quality in large cities in Norway. 
                      Air quality and air pollution are an often topic in Norwegian media, 
                      and we saw a need for information about air quality and how air quality affects us. 
                      Caeli is an app that is designed to allow users in an easy and fast way to see the air quality in the desired geographical area in Norway in                              real time, 
                      as well as for the previous and next 24 hours. 
                      In addition, users can easily get information about health advice for different levels of pollution and for different user groups. 
                      Caeli also allows users to customize the application according to their own personal preferences so that they can filter out                                 information and services 
                      they may find unnecessary or irrelevant. The name Caeli means "air" in Latin and refers both to a vision of developing an application whose 
                      purpose is to show the air quality and hopefully contribute to awareness of air quality and how air pollution can affect own health and the environment.
                    </p>
              </div>
               <div class="text">
                <p>
                    
                      The application is developed in Android Studio with Kotlin as the programming language. 
                      Displayed data uses an OkHttpClient that retrieves real-time measurements from pollution measurement stations in Norway that we get through the api.met.no. 
                      We present the measurements against a desired geographical area that are taken from the geographical name register Kartverket.no/data. 
                      The graphical user interface of the application is styled with the Markup language XML.         
                      Through the project we followed the agile framework Scrum, we used Trello as backlog and Evetro during our retrospective meetings. 
                      My role in the project was mainly as an interaction designer, the team concluded that everyone should participate in all possible stages of the process. 
                      During the twelve weeks project work I had the role as a Scrum master and project owner several times, but most of my time was spent designing the Application's 
                      activities in Kotlin and XML. I worked with the main interaction activity that displays data on specified locations, settings, notifications, health advice, 
                      and general application design. 
                    </p>
          
              </div>
            <div class="text">
              <p>
              As an interaction designer, my work tasks were gaining insight and collecting data from users. In collaboration with the other two interaction designers, 
              we collected data from different user groups like; asthmatics, cyclists and general population using semi-structured interviews. 
              We design and held user tests iteratively at new increments on our prototype, with the goal of uncovering the needs of the users. 
              This gave us the ability to design user stories, identify functional and non-functional requirements, which led to a good backlog for the development of the application. 
              The project work was very exciting and educational. I am left with an understanding of the importance and process of 
              using agile development methodology such as the Scrum framework and the importance of a good group dynamics. 
              It was rewarding to try native development in Android studios with a relatively new programming language like Kotlin.
            </p>
            </div>

            <div class="video-container">
                <div class="video-holder">
                  <h2 class="demo-title">Search functionality</h2>
                  <video class="vid" controls autoplay="autoplay" loop="true" >
                      <source src="./img/documents/2.Search-interaction.mp4" type="video/mp4">
                  </video>

                  </div>
            <div class="video-holder">
                <h2 class="demo-title">Main-view</h2>
                <video  class="vid" controls autoplay="autoplay"loop="true" >
                    <source src="./img/documents/1. main-interaction.mp4" type="video/mp4">
                </video>
              </div>
            </div>

            <div class="boxes">
                <div>
                  <a class="text-secondary" href="work.html"><span>Back</span></a>
                </div>
              </div>

          </div>
    <script src="js/main.js"></script>
  </body>
</html>
