<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Contact Me</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
      integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/main.css" />
  </head>
  <body id="scroll">
    <header>
      <div class="menu-btn">
        <div class="btn-line"></div>
        <div class="btn-line"></div>
        <div class="btn-line"></div>
      </div>

      <nav class="menu">
        <div class="menu-branding">
          <div class="portrait"></div>
        </div>

        <ul class="menu-nav">
          <li class="nav-item">
            <a href="index.html" class="nav-link">Home</a>
          </li>
          <li class="nav-item ">
            <a href="about.html" class="nav-link">About Me</a>
          </li>
          <li class="nav-item">
            <a href="work.html" class="nav-link">My Work</a>
          </li>
          <li class="nav-item current">
            <a href="contact.html" class="nav-link">How To Reach Me</a>
          </li>
        </ul>
      </nav>
    </header>

    <main id="contact">
      <h1 class="title" id="contactMe">Contact<span class="text-secondary">Me</span></h1>
      <div class="boxes">
        <div>
          <span class="text-secondary">Email:</span>
          Filip.Christoffer.Larsen@gmail.com
        </div>
        <div>
          <span class="text-secondary">Phone:</span>
          +47 46 76 60 19
        </div>
        <div>
          <span class="text-secondary">Address:</span>
          Jørgen Løvlandsgate 5, Oslo 0570
        </div>
      </div>
    </main>

    <footer id="main-footer">
      Copyright &copy; 2019
    </footer>

    <script src="js/main.js"></script>
  </body>
</html>
