<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Welcome To My Portfolio</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
      integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/main.css" />
  </head>
  <body id="scroll">
    <header>
      <div class="menu-btn">
        <div class="btn-line"></div>
        <div class="btn-line"></div>
        <div class="btn-line"></div>
      </div>

      <nav class="menu">
        <div class="menu-branding">
          <div class="portrait"></div>
        </div>

        <ul class="menu-nav">
          <li class="nav-item current">
            <a href="index.html" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="work.html" class="nav-link">My Work</a>
          </li>

        </ul>
      </nav>
    </header>

    <main id="home">
      <h1 class="title">Filip <span class="text-secondary">Larsen</span></h1>
      <h2 class="subtitle">UX Design student at the University of Oslo </h2>


      <div class="icons">
        <a href="https://www.linkedin.com/in/filip-larsen-0b6b42149/?originalSubdomain=no">
          <i class="fab fa-linkedin fa-2x"></i>
        </a>
        <a href="https://github.com/Filipcl">
          <i class="fab fa-github fa-2x"></i>
        </a>
      </div>
      <div class="arrow" id="arrow-down">
        <div class="bounce">
        <i class="fas fa-chevron-down" id="arrow"></i>
      </div>
      </div>
    </main>


    <main id="about">
      <h1 class="title" id="about-title">About<span class="text-secondary"> Me</span></h1>
      <div class="about-info">
        <img
          src="../components/img/Filip-Larsen-large.jpg"
          alt="Filip Larsen"
          class="bio-image"
        />
        <div class="bio">
          <h1 class="text-secondary">BIO</h1>
          <p> 
            Studying Informatics: design, use and interaction at the University of Oslo.
            Im at my last year of my bachelor's degree - planning a Master's degree in programming and system architecture.
            This is a summary of some of my relevant work experience, to see more check out my Linkedin.
            <hr>
            Email: Filip.larsen@live.no
            <br>     
            Phone: +47 467 660 19

          </p>
          <a href="https://www.linkedin.com/in/filip-larsen-0b6b42149/?originalSubdomain=no">
          <i id="linkTolinkedIn" class="fab fa-linkedin fa-2x"></i>
          </a>
        </div>
      </div>

      <div class="container">
        <div class="item">
          <h1 class="card-title">Jobs</h1>
          <h3>Questback AS</h3>
          <h5>It-support</h5>
          <p>  
          Part-time employee with responsibility for support for users of Questback.
          Support on Questback for colleagues internally, and participate in various projects internally and with customers who deal with
          technical aspects in Questback.
          </p>
          <p> Feb 2019 - </p>
      </div>

      <div class="item">
          <h1 class="card-title">Unions</h1>          
        <h3>IFI-podcast</h3>
          <h5>Board Member</h5>
          <p>A podcast my friends and I started, discussing different technologies
            and generally how it is to be an informatics student at the University of Oslo.
          </p>
          <p> Jan 2018 - </p>
      </div>

        <div class="item">
            <h3>Universitetet i Oslo</h3>
            <h5>Research assistant</h5>
            <p>
                The recruitment group, Informativ, 
                arranges school visits with lectures in programming, workshops in p5.js, MicroBit and 3D-printing 
                and guided tours at the Institute.
            </p>
            <p>Aug 2018 - Jun 2019</p>
        </div>

        <div class="item">
            <h3>Navet</h3>
            <h5>Board Member</h5>
            <p>
              Student organization responsible for arranging
              presentations and workshops for companies at the institute of informatics 
              at the University of Oslo.
            </p>
            <p>Aug 2017 - Jun 2019</p>
        </div>

        <div class="item">
            <h3>Telemark Bataljon</h3>
            <h5>Enlisted</h5>
            <p>    
            Served as an enlisted soldier in Mechanized Infantry Company 3, Telemark Battalion as MG 1. 
            After first-time service as Lance corporal in the 2nd battalion rifle company Bravo.
            </p>
            <p>Jan 2017 - Aug 2019</p>
        </div>

        <div class="item">
            <h3>Start UIO</h3>
            <h5>Intern</h5>
            <p>Student organization that arranges
              presentations and workshops.
              The link between the entrepreneurial environment
              in Norway and the students at the
              University of Oslo.
              <p>Aug 2017 - Aug 2018</p>
            </p>
        </div>
      </div>
      
      <div class="boxes">
          <div>
            <a class="text-secondary" href="work.html"><span>My Work</span></a>
          </div>
        </div>

      </div>
  </main>

    <script src="js/main.js"></script>
  </body>
</html>
