<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>My Work</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
      integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/main.css" />
  </head>
  <body id="scroll">
    <header>
      <div class="menu-btn">
        <div class="btn-line"></div>
        <div class="btn-line"></div>
        <div class="btn-line"></div>
      </div>

      <nav class="menu">
        <div class="menu-branding">
          <div class="portrait"></div>
        </div>

        <ul class="menu-nav">
          <li class="nav-item">
            <a href="index.html" class="nav-link">Home</a>
          </li>
          <li class="nav-item current">
            <a href="work.html" class="nav-link">My Work</a>
          </li>
        </ul>
      </nav>
    </header>

    <main id="Work">
      <h1 class="title">My<span class="text-secondary"> Work</span></h1>
      <h2 class="subtitle">This is an overview of my projects</h2>
      <div class="projects">

        <div class="item" id="work-img">
          <a href="caeli.html">
            <img
              src="img/projects/60611951_344660426251370_2260443237799952384_n (1).jpg"
              alt="project"
            />
          </a>
        </div>
        <div class="item" id="content">
          <a href="caeli.html">
          <h1 class="project-title">Caeli</h1>
          </a>
          <p>
            Project in the subject IN2000 - Software Engineering at the University of Oslo. 
            The project case was to create an application that visually presents the air quality in Norway's cities using the API from the Norwegian Meteorological Institute.
            By using the agile framework Scrum, we have made the application Caeli through a twelve-week project work.
          </p>
          <a href="#" class="btn-light"> <i class="fab fa-github"></i> Github</a>
        </div>

        <div class="item" id="work-img">
          <a href="https://github.com/Filipcl/Hentehylle">
            <img src="img/projects/project2.jpg" alt="project" />
          </a>
        </div>
        <div class="item" id="content">
          <a href="#">
            <h1 class="project-title">Spade</h1>
          </a>
          <p> 
          Project in the subject IN1060 User-oriented design at the University of Oslo. 
          Our task was to plan and carry out a project where we designed and built a digital prototype for and with a selected user group. 
          We chose a public library as the domain, and developed a digital prototype using Arduino for the public libraries' existing book retrieval solution.
          </p>
          <a href="https://github.com/Filipcl/Hentehylle" class="btn-light"> <i class="fab fa-github"></i> Github</a>
        </div>

        <div class="item" id="work-img">
          <a href="#!">
            <img src="img/projects/project3.jpg" alt="project" />
          </a>
        </div>
        <div class="item" id="content">
          <a href="#">
            <h1 class="project-title">Carlberner-appen</h1>
          </a>
          <p>
            This is an web application with the purpose of showing when you have to go out the door to reach the next subway. The reason for this is that we in the housing collective rarely check the ruter app before
            going out the door. The application is written by Ulrik Palmstrøm and me in the Javascript framework React. We retrieve data from ruter.no's API to show when the next subway runs,
            and from yr.no's API to show today's weather. It all appears on a screen taken out of an old laptop, we use a rapsberry pi 3b+ with OS raspbian to run the web application
            on chromium.
          </p>
          <a href="#" class="btn-light"> <i class="fab fa-github"></i> Github</a>
        </div>

        <div class="item" id="work-img">
          <a href="https://github.com/carlmagl/Beer-Pong">
            <img src="img/projects/project4.jpg" alt="project" />
          </a>
        </div>
        <div class="item" id="content">
          <a href="#">
            <h1 class="project-title">Beerpong-app</h1>
          </a>
          <p>            
          This web application is a visual representation of a tournament system for beer pong.
          The idea came from the fact that we had a need for this in our housing collective.
          The web app contains cards with overview such as team image, team name and team members.
          From an admin panel you can create a tournament by adding teams and showing who goes on to the next round of the tournament.
          The web application is written by Carl-Magnus Lein and me in the Javascript framework Vue.js  
          </p>
          <a href="https://github.com/carlmagl/Beer-Pong" class="btn-light"> <i class="fab fa-github"></i> Github</a>
        </div>

   

        <div class="item" id="work-img">
          <a href="#!">
            <img src="img/projects/project5.jpg" alt="project" />
          </a>
        </div>
        <div class="item" id="content">
          <a href="#">
            <h1 class="project-title">AG-Varmeteknikk</h1>
          </a>    
          <p>
            This project is my first encounter with frontend development, I was asked by a familiy friend to design a website for his company.
            I had never made a website before, so I decided to write the code in plain HTML and CSS to learn. Furthermore, I used the Bootstrap framework to speed up the process.
            This was an stepping stone that motivated me to learning more about the front-end world.
          </p>
          <a href="https://github.com/Filipcl/AG-Varmeteknikk" class="btn-light"> <i class="fab fa-github"></i> Github</a>
        </div>
      </div>
      <div class="boxes">
          <div>
            <a class="text-secondary" href="index.html"><span>Home</span></a>
          </div>
        </div>
    </main>

    <script src="js/main.js"></script>
  </body>
</html>
