<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>My Work</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
      integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/main.css" />
  </head>
  <body id="scroll">
    <header>
      <div class="menu-btn">
        <div class="btn-line"></div>
        <div class="btn-line"></div>
        <div class="btn-line"></div>
      </div>

      <nav class="menu">
        <div class="menu-branding">
          <div class="portrait"></div>
        </div>

        <ul class="menu-nav">
          <li class="nav-item">
            <a href="index.html" class="nav-link">Home</a>
          </li>
          <li class="nav-item ">
            <a href="about.html" class="nav-link">About Me</a>
          </li>
          <li class="nav-item current">
            <a href="work.html" class="nav-link">My Work</a>
          </li>
          <li class="nav-item">
            <a href="contact.html" class="nav-link">How To Reach Me</a>
          </li>
        </ul>
      </nav>
    </header>

    <main id="Work">
      <h1 class="title">My<span class="text-secondary">Work</span></h1>
      <h2 class="subtitle">Sjå på her ja....</h2>
      <div class="projects">
        <div class="item">
          <a href="#!">
            <img
              src="img/projects/60611951_344660426251370_2260443237799952384_n (1).jpg"
              alt="project"
            />
          </a>
        </div>

        <div class="item">
          <h1 class="tittle">Caeli</h1>
          <p>
            Prosjektoppgave i emnet IN2000 - Software Engineering ved
            instituttet for informatikk ved Universitet i Oslo. Prosjektcase
            gikk ut på å lage en applikasjon som visuelt fremstiller
            luftkvaliteten i Norges byer ved bruk av API fra Meteorologisk
            institutt og smidig utviklingsmetodikk. Caset ga ingen øvrige
            føringer for hvordan man ønsket å løse oppgaven. Ved bruk av det
            agile rammeverket Scrum har vi gjennom et tolv uker langt
            prosjektarbeid laget applikasjonen Caeli.
            <br />
            Caeli er en app som er utviklet for å la brukere på en enkel og rask
            måte se luftkvaliteten i ønsket geografisk område i Norge i sanntid,
            samt for de foregående og kommende 24 timene. I tillegg kan brukerne
            på en enkel måte få informasjon om helseråd for ulike
            forurensningsnivåer og for ulike brukergrupper. Caeli gir samtidig
            brukerne mulighet til å tilpasse applikasjonen etter egne personlige
            preferanser, slik at de kan filtrere vekk informasjon og tjenester
            de eventuelt finner overflødige eller irrelevante. Navnet Caeli
            betyr “luft” på latin og henspiller både på en visjon om å utvikle
            en applikasjon hvis hensikt er å fremvise luftkvaliteten samt
            forhåpentligvis bidra til bevisstgjøring om luftkvalitet og hvordan
            luftforurensning kan påvirke egen helse og miljø. I tillegg ønsket
            prosjektgruppen å lage en app med et stilrent design inspirert av
            nettopp luft og renhet.
          </p>
          <a href="#" class="btn-dark"> <i class="fab fa-github"></i> Github</a>
        </div>

        <div class="item">
          <h1 class="tittle">Carlberner-appen</h1>
          <p class="text-secondary">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit nemo
            ab in optio ipsa repellendus illum voluptatibus quibusdam quis omnis
            officia nihil consequatur fugit explicabo, dolore neque! Sequi, est
            laudantium?
          </p>
          <a href="#" class="btn-dark"> <i class="fab fa-github"></i> Github</a>
        </div>

        <div class="item">
          <a href="#!">
            <img src="img/projects/project3.jpg" alt="project" />
          </a>
        </div>

        <div class="item">
          <a href="#!">
            <img src="img/projects/project2.jpg" alt="project" />
          </a>
        </div>

        <div class="item">
          <h1 class="tittle">Spade</h1>
          <p class="text-secondary">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit nemo
            ab in optio ipsa repellendus illum voluptatibus quibusdam quis omnis
            officia nihil consequatur fugit explicabo, dolore neque! Sequi, est
            laudantium?
          </p>
          <a href="#" class="btn-dark"> <i class="fab fa-github"></i> Github</a>
        </div>

        <div class="item">
          <h1 class="tittle">Caeli</h1>
          <p class="text-secondary">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit nemo
            ab in optio ipsa repellendus illum voluptatibus quibusdam quis omnis
            officia nihil consequatur fugit explicabo, dolore neque! Sequi, est
            laudantium?
          </p>
          <a href="#" class="btn-dark"> <i class="fab fa-github"></i> Github</a>
        </div>

        <div class="item">
          <a href="#!">
            <img src="img/projects/project4.jpg" alt="project" />
          </a>
        </div>

        <div class="item">
          <a href="#!">
            <img src="img/projects/project5.jpg" alt="project" />
          </a>
        </div>
        <div class="item">
          <h1 class="tittle">Caeli</h1>
          <p class="text-secondary">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit nemo
            ab in optio ipsa repellendus illum voluptatibus quibusdam quis omnis
            officia nihil consequatur fugit explicabo, dolore neque! Sequi, est
            laudantium?
          </p>
          <a href="#" class="btn-dark"> <i class="fab fa-github"></i> Github</a>
        </div>
      </div>
    </main>

    <footer id="main-footer">
      Copyright &copy; 2019
    </footer>

    <script src="js/main.js"></script>
  </body>
</html>
